#title{
 text-align: center;
 font-family: 'Mina', sans-serif;
 font-size: 95px;
 margin-bottom: -20px;
}
#title span{
 font-weight: normal;
}
#subtitle{
 text-align: center;
 font-family: 'Permanent Marker', sans-serif;
 font-size: 18pt;
 margin-top: 0;
}
#face{
 height: 400px;
 width: 362px;
 background-image: url(m-faces.png);
 background-repeat: none;
 margin: 0 auto;
}
#canvas{
 float: right;
}

#controls{
 border: 1px solid #7777FF;
 border-radius: 14px;
 background-color: #DDDDFF;
 margin-top: 50px;
 font-family: 'Mina', sans-serif;
 padding: 5px;
}
#controls p{
 text-align: center;
}
#samples{
 width: 33%;
 border: 1px solid #7777FF;
 border-radius: inherit;
 padding: 5px;
}
#samples h3{
 text-align: center;
}
#s-list{
 height: 350px;
 width: 200px;
 overflow-y: scroll;
 padding: 5px;
 background-color: #EEEEFF;
}
